<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CryptoCentral.Properties.Settings.ConnectionString"
            connectionString="SERVER=27.121.66.21;PORT=3306;DATABASE=goldli00_CryptoCentral;UID=goldli00_admin;PASSWORD=CryptoCentralAdmin;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>